body {
    color : #000000;
    background-color : #ffffff;
    font-family : arial, verdana, sans-serif; 
    font-size : 12px;
    padding : 0px;margin : 0px;
 }
 
 h1 {
   position : fixed;
   top : 0px; left : 0px;
   width : 100%;
   color : #ffffff; background-color : #666666;
   margin : 0px;padding : 10px;
   height : 60px;
   z-index : 2;
 }
 
 div.nav {
   z-index : 1;
   position : absolute;
   top : 80px; left : 0px;
   width : 175px;
   height : 100%;
   padding : 10px;
   background-color : #d6d6d6;
 }

 div.nav a{
    padding: 5px;
    font-size: 14px;
    display: block;  
 }

 div.nav a:hover{
    background-color:grey;
 }
  
 h2 {
   padding : 75px 0px 0px 130px;
   margin-left: 100px;
 }
 
 p {
   padding-left : 115px;
 }
 p.abstract{
   font-weight : bold;
   margin-left: 115px;
 }
 
 img {
   float : left;
   margin-left: 150px; 
   width : 60px;
   padding-right : 5px;
 }
 
 ul {
   clear : left;
   margin-left: 100px; 
   list-style : circle;
   padding-left : 145px;
 }
 
 div.nav:before { 
   content: "Navigation ";
   font-size : 18px;
   font-weight : bold;
   margin-left: 0px; 
 }
 
 
@media screen and (max-width: 500px) {
    div.nav {
        z-index : 1;
        position : absolute;
        top : 80px; left : 0px;
        width : 100px;
        height : 100%;
        padding : 15px;
        background-color : #d6d6d6;
      }
    p.abstract{
        font-weight : bold;
        margin-left: 20px;
      }
    h2 {
        padding : 80px 0px 0px 130px;
        margin-left: 20px;
      }
    ul {
        clear : left;
        margin-left: 20px; 
        list-style : circle;
        padding-left : 145px;
      }  
}